<!DOCTYPE html>

<html>
<head>
<title>jQuery Mobile</title>
<meta charset="UTF-8" />
<meta name="viewport"
	content="width=device-width,
		initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" />
<link href="/ThirdApp/lib/jquery/jquery.mobile-1.3.2.css"
	rel="stylesheet" type="text/css" />
<link href="/ThirdApp/lib/star-rating/jquery.rating.css"
	rel="stylesheet" type="text/css" />
<script src="/ThirdApp/lib/jquery/jquery-1.9.1.js"></script>
<script src="/ThirdApp/lib/jquery/jquery.mobile-1.3.2.js"></script>
<script src="/ThirdApp/lib/star-rating/jquery.form.js"></script>
<script src="/ThirdApp/lib/star-rating/jquery.MetaData.js"></script>
<script src="/ThirdApp/lib/star-rating/jquery.rating.js"></script>
<script src="/ThirdApp/lib/star-rating/jquery.rating.pack.js"></script>
</head>
<body>
	<div data-role="page">

		<div data-role="header">
			<h1>DELIVERY CONTACT PAGE</h1>
			<a href="#" data-rel="back" data-icon="arrow-l">Back</a>
		</div>
		<div data-role="content">
			<ul data-role="listview">
				<li><img src="/ThirdApp/assets/img/3.jpg" />김가네 123-123-123<br />
					<input data-role="none" name="star1" type="radio" class="star" /> <input
					data-role="none" name="star1" type="radio" class="star" /> <input
					data-role="none" name="star1" type="radio" class="star" /> <input
					data-role="none" name="star1" type="radio" class="star" /> <input
					data-role="none" name="star1" type="radio" class="star" /></li>
				<li><img src="/ThirdApp/assets/img/4.jpg" />bhc 234-234-234</li>
			</ul>
		</div>

	</div>


</body>
</html>