<!DOCTYPE html>

<html>
	<head>
		<title>jQuery Mobile</title>
		<meta charset="UTF-8"/>
		<meta name="viewport" content="width=device-width,
		initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no"/>
	<link href="/ThirdApp/lib/jquery/jquery.mobile-1.3.2.css"
	rel="stylesheet" type="text/css" />
<script src="/ThirdApp/lib/jquery/jquery-1.9.1.js"></script>
<script src="/ThirdApp/lib/jquery/jquery.mobile-1.3.2.js"></script>

	</head>
	<body>
		<div data-role="page">
			
			<div data-role="header">
				<h1>BUS PAGE</h1>
				<a href="#" data-rel="back" data-icon="arrow-l">Back</a>
			</div>
			<div data-role="content">
				<ul data-role="listview">
					<li>3011번 10분남음</li>
					<li>3012번 9분남음</li>
					<li>3013번 8분남음</li>
					<li>3014번 7남음</li>
				</ul>
			</div>
		</div>

	</body>
</html>