<!DOCTYPE html>

<html>
<head>
<title>jQuery Mobile</title>
<meta  charset="UTF-8" />
<meta name="viewport"
	content="width=device-width,
		initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" />
<link href="/ThirdApp/lib/jquery/jquery.mobile-1.3.2.css"
	rel="stylesheet" type="text/css" />
<script src="/ThirdApp/lib/jquery/jquery-1.9.1.js"></script>
<script src="/ThirdApp/lib/jquery/jquery.mobile-1.3.2.js"></script>

</head>
<body>
	<div data-role="page">
		<div data-role="header">
			<h1>ADD DELIVERY CONTACT</h1>
			<a href="#" data-rel="back" data-direction="reverse" data-icon="arrow-l">Back</a>
			<a href="/ThirdApp/view/main.html" data-icon="home">Home</a>
		</div>

		<div data-role="content">
			<script>
				$(function(){
					$("#delivery_name").val("");
					$("#delivery_number").val("");
					$("#addMenu").each(function() {
						this.reset();
					});
				});
				
				
			</script>
			<form id="addMenu" method="post" action="/ThirdApp/jsp/writeDelivery.jsp" 
				enctype="multipart/form-data" data-ajax="false" accept-charset="UTF-8">
				<div data-role="fieldcontain">
					<label for="delivery_name">Delivery Store Name :</label> <input id="delivery_name"
						type="text" name="delivery_name" />
				</div>

				<div data-role="fieldcontain">
					<label for="delivery_number">Delivery Store Number:</label> <input type="tel"
						name="delivery_number" id="delivery_number" value="" />
				</div>
				<div data-role="fieldcontain">
					<label for="delivery_number">Delivery Store Image:</label> <input type="file"
						name="delivery_image" accept="image/*" capture>
				</div>

				<div data-role="fieldcontain">
					<label for="delivery_number">Delivery Menu Image:</label> <input type="file"
						name="delivery_menu" accept="image/*" capture>
				</div>
				<div id="preview"></div>
				<input type="submit" name="submit" value="Upload" />
				<!-- <label for="file">Filename:</label>
					<input type="file" name="file" id="file">
					
					<input type="submit" name="submit" value="Submit"> -->
			</form>

			</form>

		</div>
		<!-- 
		<script>
		$("#lunch_name").val("");
		$("#lunch_date").val("");
		$("#addMenu").each(function(){
			this.reset();
		});
		$("#addMenu").submit(function(){
			if($("#lunch_name").val()==""){
				alert("lunch_name null");
			}else{
				alert("handler for addmnucalled");	
			}
			
		})
		
	</script>
	 -->

	</div>
	

	

</body>
</html>